@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.modalSchedule {
    text-align: left;
    width: 360px;
    height: 420px;
    /* line-height: 200px; */
    position: fixed;
    top: 22%; 
    left: 15%;
    /* margin-top: -210px; */
    /* margin-left: -450px; */
    background-color: #141414;
    border-radius: 5px;
    z-index: 11;
    padding:1rem 1rem 1rem 1rem;
    color: #fff;
    opacity:0.75;
    font-size: .8rem;
}

.homeBody {
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#homeBodyApp{
	/* background-color: #000000; */
	/* background-image: url("../img/TidmarshForestBath/bg.jpg"); */
	background-color: #141414;
	background-image: url("../img/background2x.jpg");
}

.lowOpacity{
	opacity: 0.5;
}

#logoContainer {
	max-width: 237px;
	height: auto;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	z-index:999;
}

#sketchContainer {
	/* max-width: 720px; */
	/* height: auto; */
	position: absolute;
	top: 50%;
	transform: translate(0%,-50%);
	transition: opacity .25s;

	margin: 0;
	display: flex;
	/* This centers our sketch horizontally. */
	justify-content: center;
	/* This centers our sketch vertically. */
	align-items: center;
}

#infoContainer{
	background-color: #141414;
	padding:0;
}

#onboardingContainer{
	background-color: #141414;
	padding:0;
}

.slideshowContainer{
	width:100%;
	margin:0;
	padding:0;
}

.orbit{
	width:100%;
	height: 300px;
}

.orbit-container {
    width:100%;
    height:300px;
}

.orbit-image {
    width: 100%;
    height:300px;
    object-fit: cover;
 }

 .orbit-bullets {
 	position: absolute;
	z-index:10;
	bottom: .5rem;
	left: 0;
	right: 0;
	margin: auto
 }

.textContainer{
	padding:2rem 2rem 1rem 2rem;
	overflow-y: auto;
	color: #fff;
}

.subscribeCompact{
	color:#fff;
	font-family: "Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}


.infoText{
	font-size: .9rem;
}

 h4 {
 	padding-bottom:1rem;
 }

 h5 {
	 padding-bottom:1rem;
	 /* padding-right: 1rem;
	 padding-left: 1rem; */
 }

 #closeButton{
 	cursor: pointer;
 	position: fixed;
 	background-image: url("../img/close.svg");
 	background-size: cover;
 	width:2rem;
 	height:2rem;
 	top:2rem;
 	right:2rem;
 }

 #closeButton_onboarding{
 	cursor: pointer;
 	position: fixed;
 	background-image: url("../img/close.svg");
 	background-size: cover;
 	width:2rem;
 	height:2rem;
 	top:2rem;
 	right:2rem;
 }

#closeBack{
	position: fixed;
	background-image: url("../img/closeBack.svg");
	background-size: cover;
	width:2rem;
	height:2rem;
	top:2rem;
	right:2rem;
}

#closeOnboarding{
	position: fixed;
	background-image: url("../img/closeBack.svg");
	background-size: cover;
	width:2rem;
	height:2rem;
	top:2rem;
	right:2rem;
}

#startButton{
	/* cursor: pointer; */
	position:absolute;
	height:4rem;
	width:4rem;
	top: 2rem;
	right:2rem;
	/* left:calc(50% - 2rem); */
}

 #infoButton{
 	cursor: pointer;
 	position: fixed;
 	background-image: url("../img/info.svg");
 	background-size: cover;
 	width:2rem;
 	height:2rem;
 	top:2rem;
 	right:2rem;
 	z-index:999;
 }


.socialLinks{
	text-align: center;
	align-content: center;
	left: 50%;
}

.socialButton{
	display: inline-block;
	cursor: pointer;
	width:2rem;
	height:2rem;
	/* top:2rem;
	right:2rem; */
	margin:.5rem .5rem .5rem .5rem;
}

 #playButton{
 	cursor: pointer;
 	position: fixed;
 	background-image: url("../img/volume_off.svg");
 	background-size: cover;
 	width:2rem;
 	height:2rem;
 	top:2rem;
 	left:2rem;
 	z-index:999;
 }

 #nextButton{
	 cursor: pointer;
  	position: fixed;
  	width:4rem;
  	height:4rem;
  	top: calc(50% - 2rem);
  	right:0rem;
  	z-index:999;
  }

	#lastButton{
		cursor: pointer;
		 position: fixed;
		 width:4rem;
		 height:4rem;
		 top: calc(50% - 2rem);
		 left:0rem;
		 z-index:999;
	 }

 #livingLink{
 	cursor: pointer;
 	position: fixed;
 	bottom:2rem;
 	left:2rem;
 	z-index:999;
 }

 #designCredits{
	 position: absolute;
	 bottom:0rem;
	 right:0rem;
	 z-index:999;
	 padding:0rem 1rem 0rem 0rem;
	 overflow-y: auto;
	 color: #ccc;
	 font-size: 0.75rem;
	 text-align: right;
 }

 #projectCredits{
	 font-size: .8rem;
 }

 #SI_LO_logo{
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 width: 50%;
 }

 button:hover, a:hover{
 	color:#fff;
 	cursor: pointer;
 	opacity:0.6;
 }

 a, button{
 	color:#fff;
 	transition: opacity .25s;
 	transition-timing-function: ease;
 	text-decoration: underline;
 }

 button:focus, a:focus, .reveal{
 	outline: none;
 	border: none;
 }

 /*LOADER*/

.loader-body {
	width: 100%;
	height: 100vh;
	background-color: #0a0a0a; /*Here you can change background color of the loader */
	position: fixed;
	z-index:1000;
	visibility: visible;
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	transition: 0.5s all;
}

.loader {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.25rem white solid; 				/*Here you can change color of the loader*/
	border-radius: 50%;
	position: absolute;
	border-top-color: #333 ; 				/*Here you can change color of the loader*/
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation: 1s spin infinite linear;
	-o-animation: 1s spin infinite linear;
	animation: 1s spin infinite linear;

}

.loader-body.done {
	visibility: hidden;
	opacity: 0;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */
#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; letter-spacing:.03em; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: .8rem;}
#mc_embed_signup .nowrap {white-space:nowrap;}
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:1rem; padding-bottom:0rem; font-weight:normal; color:#fff;}
#mc_embed_signup input.email {font-family:"Lato", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: .8rem; display:block; padding:0 0.4em; margin:0 4% 3px 0; min-height:25px; width:58%; min-width:150px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
#mc_embed_signup input.button {display:block; width:25%; margin:0 0 10px 0; min-width:110px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
